footer.footer
  .footer__logo
    img(src='/images/footer-logo.png' alt='logo')
  .footer__bg
    .wrapper.wrapper--md
      .footer__inner
        .footer__discription Мы хотели бы услышать все о вашем проекте.
          |Свяжись с нами.
        .footer__social-list
          .footer__social-item
            a(href="#").social-links.icon.icon-facebook
          .footer__social-item
            a(href="#").social-links.icon.icon-google
          .footer__social-item
            a(href="#").social-links.icon.icon-twitter
          .footer__social-item
            a(href="#").social-links.icon.icon-mail
        .footer__nav
          .connection
            .connection__subtitle Контакты
            ul.connection__list
              li.connection__list-item +80 555 55 66
              li.connection__list-item digi@gmail.com
          .connection
            .connection__subtitle Адрес
            ul.connection__list
              li.connection__list-item Пр. Науки 107
              li.connection__list-item Kиев / Украина
          .connection
            .connection__subtitle Помощь
            ul.connection__list
              li.connection__list-item Как с нами связаться?
              li.connection__list-item Что такое диджитал?
              li.connection__list-item Стоимость услуг
          .connection
            .connection__subtitle Меню
            ul.connection__list
              li.connection__list-item Наши проекты
              li.connection__list-item Команда
              li.connection__list-item Блок
