header.header
  .wrapper
    .header__flex
      .header__logo
        a.logo(href="#")
          img(src='/images/header-logo.png' alt='logo')
      .header__menu
        .menu
          button.menu__btn
            span.menu__btn-box
              .menu__btn-line
              .menu__btn-line
              .menu__btn-line
