header.header
  .wrapper 
    .layout
      .logo
        a.logo__link(href="#")
          img(src='/images/logo.png' alt='logo')
      .menu
        button.menu__btn
          span.menu__btn-box
            .menu__btn-line
            .menu__btn-line
            .menu__btn-line

    .intro
      .slider
        img.slider-background(src='/images/intro-image.jpg' alt='logo')
        .bg.js-slider
          .box-slider
            .box-slider__slogan
              |МЫСЛИ
              br
              |ГЛОБАЛЬНО
            .box-slider__desc
              |Di Gі - это диджитал агентство полного цикла, направленное на самый лучший
              br
              |результат наших клиентов в маркетинге, продажах и управлении
            .btn-link 
              button.btn-link__info
                .btn-link__text
                  |ПОДРОБНЕ
          .box-slider
            .box-slider__slogan
              |МЫСЛИ
              br
              |ГЛОБАЛЬНО
            .box-slider__desc
              |Di Gі - это диджитал агентство полного цикла, направленное на самый лучший
              br
              |результат наших клиентов в маркетинге, продажах и управлении
            .btn-link 
              button.btn-link__info
                .btn-link__text
                  |SADASDASD
          
    .promo
      .promo__info
        .promo__info-title
          |Вы полюбите нас с первой встречи!
        .promo__info-text
          |Мы предоставляем комплексный подход к продвижению компании,
          br
          |продуктов и услуг в цифровой сфере.
      .promo__btn
        button.buy-button
          .buy-button__text
            |ПЕРЕЗВОНИТЕ МНЕ