header.header
  .wrapper
    .header__flex
      .header__logo
        a.logo(href="#" aria-label="logo")
          img(src='images/header-logo.png' width="100" height="66" alt='logo')
      .header__menu
        .menu
          button(aria-label="btn").menu__btn
            span.menu__btn-box
              .menu__btn-line
              .menu__btn-line
              .menu__btn-line
