.main-slider
  .main-slider__inner
    .main-slider__arrrows
      .main-slider__prev.icon.icon-prev
      .main-slider__next.icon.icon-next
    .main-slider__dots
    .main-slider__list.js-slider
      .main-slider__item
        .main-slider__title Мысли глобально
          .dark-line
        .main-slider__description
          |Di Gі - это диджитал агентство полного цикла, направленное на самый лучший
          |результат наших клиентов в маркетинге, продажах и управлении
        .main-slider__button
          button.button.button--blue.button--fluid подробнее
      .main-slider__item
        .main-slider__title Мысли глобально
          .dark-line
        .main-slider__description
          |Di Gі - это диджитал агентство полного цикла, направленное на самый лучший
          |результат наших клиентов в маркетинге, продажах и управлении
        .main-slider__button
          button.button.button--blue.button--fluid подробнее
      .main-slider__item
        .main-slider__title Мысли глобально
          .dark-line
        .main-slider__description
          |Di Gі - это диджитал агентство полного цикла, направленное на самый лучший
          |результат наших клиентов в маркетинге, продажах и управлении
        .main-slider__button
          button.button.button--blue.button--fluid подробнее