.main-slider
  .main-slider__inner
    .main-slider__arrrows
      .main-slider__prev
        .img-prev
          img.arrow-img(src='/images/prew.svg' alt='prew')
      .main-slider__next
        .img-next
          img.arrow-img(src='/images/next.svg' alt='next')
    .main-slider__list.js-slider
      .main-slider__item
        .main-slider__title Мысли глобально’
        .main-slider__description
          |Di Gі - это диджитал агентство полного цикла, направленное на самый лучший
          |результат наших клиентов в маркетинге, продажах и управлении
        .main-slider__button
          button.button.button--blue.button--fluid подробнее
      .main-slider__item
        .main-slider__title Мысли глобально’
        .main-slider__description
          |Di Gі - это диджитал агентство полного цикла, направленное на самый лучший
          |результат наших клиентов в маркетинге, продажах и управлении
        .main-slider__button
          button.button.button--blue.button--fluid подробнее
      .main-slider__item
        .main-slider__title Мысли глобально’
        .main-slider__description
          |Di Gі - это диджитал агентство полного цикла, направленное на самый лучший
          |результат наших клиентов в маркетинге, продажах и управлении
        .main-slider__button
          button.button.button--white.button--fluid подробнее
    .main-slider__dots
