.main-slider
  .main-slider__inner
    //- .main-slider__arrrow
    //-   .arrow-prew
    //-     img.arrow-img(src='/images/prew.svg' alt='prew')
    //-   .arrow-next
    //-     img.arrow-img(src='/images/next.svg' alt='next')
    .main-slider__list.js-slider
      .main-slider__item
        .main-slider__title Мысли глобально’
        .main-slider__description
          |Di Gі - это диджитал агентство полного цикла, направленное на самый лучший
          |результат наших клиентов в маркетинге, продажах и управлении
        .main-slider__button
          button.button.button--blue.button--fluid подробнее
      .main-slider__item
        .main-slider__title Мысли глобально’
        .main-slider__description
          |Di Gі - это диджитал агентство полного цикла, направленное на самый лучший
          |результат наших клиентов в маркетинге, продажах и управлении
        .main-slider__button
          button.button.button--blue.button--fluid подробнее
      .main-slider__item
        .main-slider__title Мысли глобально’
        .main-slider__description
          |Di Gі - это диджитал агентство полного цикла, направленное на самый лучший
          |результат наших клиентов в маркетинге, продажах и управлении
        .main-slider__button
          button.button.button--blue.button--fluid подробнее
