section.news
  .wrapper.wrapper--md
    .news__inner
      h2.news__title Последние Новости
      .news__line
        .separate-line.separate-line--blue
      .news__masonry
        include ../components/NewsLinks



