section.portfolio
  .portfolio__bg
    .wrapper.wrapper--md
      .portfolio__box
        .portfolio__title Наши Проекты
        .portfolio__line
          .separate-line.separate-line--white
        .portfolio__work
          .template
            .template__img
              img(src='/images/boutique.png' alt='logo')
            .template__name
              |Lalique бутик
          .template
            .template__img
              img(src='/images/build.png' alt='logo')
            .template__name
              |Строительство домов
          .template
            .template__img
              img(src='/images/coffee-house.png' alt='logo')
            .template__name
              |Кофейня
          .template
            .template__img
              img(src='/images/tours.png' alt='logo')
            .template__name
              |Уникальные туры