.promo
  .promo__info
    .promo__info-title
      |Вы полюбите нас с первой встречи!
    .promo__info-text
      |Мы предоставляем комплексный подход к продвижению компании,
      br
      |продуктов и услуг в цифровой сфере.
  .promo__btn
    button.buy-button
      .buy-button__text
        |ПЕРЕЗВОНИТЕ МНЕ