section.promo
  .wrapper.wrapper--md
    .promo__flex
      .promo__info
        .promo__info-title
          |Вы полюбите нас с первой встречи!
        .promo__info-text
          |Мы предоставляем комплексный подход к продвижению компании,
          br
          |продуктов и услуг в цифровой сфере.
      .promo__btn
        button(aria-label="btn").button.button--white.button--fluid
          .call-button__text
            |перезвоните мне
