section.quotes
  .quotes__inner
    .quotes__box
      .quotes__glyph.icon.icon-quote-right
        .quotes__slider
          .quotes__slider-list
            .quotes__slider-puzzle
              |Если нужно создавать либо повышать имидж компании,то 
              span.blue-puzzle диджитал-маркетинг 
              |является наиболее подходящим
            .quotes__slider-name - Маргарита Акулич
          .quotes__slider-list
            .quotes__slider-puzzle
              |Если нужно создавать либо повышать имидж компании,то 
              span.blue-puzzle диджитал-маркетинг 
              |является наиболее подходящим
            .quotes__slider-name - Маргарита Акулич
          .quotes__slider-list
            .quotes__slider-puzzle
              |Если нужно создавать либо повышать имидж компании,то 
              span.blue-puzzle диджитал-маркетинг 
              |является наиболее подходящим
            .quotes__slider-name - Маргарита Акулич
      .quotes__dots