section.services
  .wrapper.wrapper--lg
    .services__inner
      .services__content
        h2.services__title Сервис
        .services__subtitle От идеи до незабываемого и измеримого результата.
        .services__line
          .separate-line.separate-line--blue
        .services__description Интеграция безупречного производства, передовых технологий и тщательного измерения производительности

      .services__links
        include ../components/ServicesLinks
