section.team
  .wrapper.wrapper--md
    .team__aside
      .team__image
        video(src="/images/test-video.mp4" width="470" height="430" controls="controls" poster="/images/video.png")
      .team__holder
        .team__title Команда
        .team__line
          .separate-line.separate-line--blue
        .team__text
          |Наша команда - это наша самая большая ценность. 
          br
          |Мы трудились, чтобы собрать группу  экспертов,
          br
          |чьи навыки дополняют друг друга.
          br
          |У членов нашей команды разные истории, но мы разделяем общую
          br
          |страсть к идеалу. Мы верим, чтобы оставаться
          br
          |профессионалом, нужно развиваться,
          br
          |поэтому мы постоянно ищем способы, как стать лучше
          br
          |в том, что мы делаем.
        .team__btn
          button.button.button--blue.button--fluid смотреть
