.main-slider
  background-image: url('../images/intro-image.jpg')
  background-repeat:no-repeat
  background-position: center
  background-size: cover

  &__inner
    background-color: rgba(0, 0, 0, 0.5)
    position: relative
    z-index: 2
    padding-top: 107px

  &__button
    width: 200px
    margin: 0 auto
    margin-bottom: 213px

  &__title
    max-width: 500px
    margin: 0 auto
    margin-bottom: 18px
    font-size: 96px
    line-height: 96px
    text-transform: uppercase

  &__line
    display: none

  &__description
    max-width: 880px
    margin: 0 auto
    margin-bottom: 28px
    font-size: 24px
    line-height: 26px

  &__item
    text-align: center
    color: $color-white

  &__arrrows
    height: 140px
    top: 0
    right: 0
    bottom: 0
    margin: auto 0
    position: absolute
    z-index: 900

  &__prev
    width: 70px
    height: 70px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    background-color: $color-blue
    color: $color-white-light-1

  &__next
    width: 70px
    height: 70px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    background-color: $color-white-light-1
    color: #DADADA

  &__dots
    position: absolute
    right: 0
    bottom: 0
    margin: auto 0
    height: 17px
    left: 0
    margin-bottom: 78px
    z-index: 2

  &__dots .slick-dots
    display: flex
    justify-content: center
    align-items: center

  &__dots .slick-dots button
    font-size: 0
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: $color-white
    margin: 0px 10px

  &__dots .slick-dots li.slick-active button
    background-color: transparent
    border: 1px solid $color-white

.slick-disabled
  background-color: rgba(187, 181, 181, 0.5)
  opacity: 0.3

@media (max-width: 1440px)
  .main-slider
    background-image: url('../images/slider-1024.jpg')

    &__inner
      padding-top: 101px

    &__title
      max-width: 560px
      font-size: 84px
      line-height: 84px
      margin-bottom: 29px

    &__description
      padding: 0 70px
      font-size: 18px
      line-height: 20px
      margin-bottom: 12px

    &__button
      margin-bottom: 202px

    &__dots
      margin-bottom: 80px

  .main-slider__dots .slick-dots button
    background-color: $color-blue

  .main-slider__dots .slick-dots li.slick-active button
    border: 1px solid $color-blue

@media (max-width: 1024px)
  .main-slider
    background-image: url('../images/slider-770.jpg')

    &__inner
      padding-top: 50px

    &__button
      margin-bottom: 113px

    &__title
      max-width: 360px
      font-size: 60px
      line-height: 60px
      margin-bottom: 25px

    &__description
      padding: 0 70px
      font-size: 18px
      margin-bottom: 32px

    &__dots
      margin-bottom: 51px

  .main-slider__dots .slick-dots button
    background-color: $color-blue

  .main-slider__dots .slick-dots li.slick-active button
    border: 1px solid $color-blue

@media (max-width: 770px)
  .main-slider
    background-image: url('../images/slider-640.jpg')

    &__title
      margin-bottom: 7px

    &__line
      width: 61px
      margin: 0 auto
      margin-bottom: 65px
      display: block

    &__description
      display: none

@media (max-width: 640px)
  .main-slider
    background-image: url('../images/slider-320.jpg')

    &__inner
      padding-top: 36px

    &__button
      display: none

    &__title
      max-width: 230px
      font-size: 28px
      line-height: 28px
      margin-bottom: 20px

    &__description
      display: none

    &__arrrows
      display: none

    &__dots
      margin-bottom: 20px
