.main-slider
  background-image: url('/images/intro-image.jpg')
  background-repeat:no-repeat
  background-position: center
  background-size: cover

  &__inner
    background-color: rgba(0, 0, 0, 0.5)
    position: relative
    z-index: 2

  &__button
    width: 200px
    margin: 0 auto
    margin-bottom: 213px

  &__title
    max-width: 500px
    margin: 0 auto 18px
    font-size: 96px
    line-height: 96px
    text-transform: uppercase

  &__description
    max-width: 880px
    margin: 0 auto 28px
    font-size: 24px
    line-height: 26px

  &__item
    text-align: center
    color: $color-white

  &__arrrows
    height: 140px
    top: 0
    right: 0
    bottom: 0
    margin: auto 0
    position: absolute
    z-index: 900

  &__prev
    width: 70px
    height: 70px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    background-color: $color-blue
    color: $color-white-light-1

  &__next
    width: 70px
    height: 70px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    background-color: $color-white-light-1
    color: #DADADA

  &__dots
    position: absolute
    right: 0
    bottom: 0
    margin: auto 0
    height: 17px
    left: 0
    margin-bottom: 78px
    z-index: 2

.slick-disabled
  background-color: rgba(187, 181, 181, 0.5)
  opacity: 0.3

.main-slider__dots .slick-dots
  display: flex
  justify-content: center
  align-items: center

.main-slider__dots .slick-dots button
  font-size: 0
  width: 10px
  height: 10px
  border-radius: 50%
  background-color: $color-white
  margin: 0px 10px

.main-slider__dots .slick-dots li.slick-active button
  background-color: transparent
  border: 1px solid $color-white

.dark-line
  display: none

@media (max-width: 320px)
  .main-slider
    background-image: url('/images/slider-mb.jpg')

    &__button
      display: none

    &__title
      max-width: 230px
      margin: 0 auto
      margin-top: 36px
      font-size: 28px
      line-height: 28px
      text-transform: uppercase

    &__description
      display: none

    &__arrrows
      display: none

    &__dots
      margin-bottom: 20px

  .dark-line
    max-width: 61px
    height: 8px
    background-color: $color-dark
    margin: 0 auto
    margin-top: 20px
    margin-bottom: 65px
    display: flex
