.portfolio
  &__bg
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%)

  &__box
    display: flex
    flex-direction: column
    align-items: center

  &__title
    margin-top: 80px
    margin-bottom: 24px
    font-size: 48px
    line-height: 56px
    text-align: center
    color: $color-white

  &__line
    margin: 0 auto
    width: 100px

  &__work
    max-width: 1138px
    margin: 80px auto 0
    display: flex
    flex-wrap: wrap

.template
  margin-right: 21px

  &:last-child
    margin: 0

  &__name
    margin: 29px auto 0
    font-family: "RobotoCondensed"
    font-weight: bold
    font-size: 16px
    line-height: 19px
    text-align: center
    letter-spacing: 2px
    color: $color-blue

@media (max-width: 320px)
  .portfolio
    &__bg
      display: flex

    &__title
      margin-top: 20px
      margin-bottom: 20px
      font-size: 24px
      line-height: 28px

    &__work
      max-width: 320px
      margin: 40px auto 0
      justify-content: center

  .template
    margin: 0
    &:last-child
      margin-bottom: 20px

    &__name
      margin: 20px auto
      font-size: 16px
      line-height: 19px