.portfolio
  &__bg
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%)

  &__box
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 80px
    padding-bottom: 80px

  &__title
    margin-bottom: 24px
    font-size: 48px
    line-height: 56px
    text-align: center
    color: $color-white

  &__line
    margin: 0 auto
    width: 100px
    margin-bottom: 80px

  &__work
    max-width: 1138px
    margin: auto 0
    display: flex
    justify-content: center
    flex-wrap: wrap

.template
  margin-right: 21px

  &:last-child
    margin: 0

  &__name
    margin: 29px auto 0
    font-family: "RobotoCondensed"
    font-weight: bold
    font-size: 16px
    line-height: 19px
    text-align: center
    letter-spacing: 2px
    color: $color-blue

@media (max-width: 1024px)
  .portfolio
    &__bg
      display: flex

    &__work
      max-width: 582px
      justify-content: space-between
      align-items: center

  .template
    margin: 0
    &__name
      margin: 20px auto
      font-size: 20px
      line-height: 23px

@media (max-width: 640px)
  .portfolio
    &__title
      margin-bottom: 20px
      font-size: 24px
      line-height: 28px

    &__line
      margin-bottom: 41px

    &__work
      max-width: 320px
      justify-content: center

    &__name
      margin: 20px auto
      font-size: 16px
      line-height: 19px
