.promo
  background-color: $color-blue

  &__flex
    display: flex
    justify-content: space-between
    align-items: center
    padding: 57px 0

  &__but
    display: flex
    justify-content: center

  &__info
    display: flex
    flex-direction: column

  &__info-title
    margin-bottom: 4px
    font-weight: 500
    font-size: 24px
    line-height: 32px
    font-style: normal
    color: $color-white

  &__info-text
    font-style: normal
    font-weight: 300
    font-size: 16px
    line-height: 18px
    color: $color-white