.quotes
  &__box
    display: flex
    justify-content: center
    flex-direction: column

  &__glyph
    font-size: 34px
    line-height: 14px
    margin-top: 100px
    margin-bottom: 30px
    font-family: "RobotoCondensed"
    color: $color-blue
    text-align: center

  &__dots
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 133px

.quotes__slider
  &-puzzle
    max-width: 1000px
    margin: 0 auto
    font-size: 36px
    line-height: 42px
    color: $color-dark
    margin-bottom: 30px
    text-align: center

  &-name
    font-family: "RobotoCondensed"
    font-size: 24px
    line-height: 28px
    letter-spacing: 2px
    font-weight: bold
    margin-bottom: 80px
    text-align: center
    color: $color-dark

.blue-puzzle
  font-weight: bold
  color: $color-blue

.quotes__box .slick-dots
  display: flex

.quotes__box .slick-dots li.slick-active button
  background-color: transparent
  border: 1px solid $color-blue

.quotes__box .slick-dots button
  display: flex
  font-size: 0
  width: 10px
  height: 10px
  border-radius: 50%
  background-color: $color-blue
  margin: 0px 10px
