.team
  &__aside
    padding-top: 80px
    display: flex
    justify-content: space-between
    flex-wrap: wrap

  &__holder
    display: flex
    flex-direction: column

  &__image
    max-width: 460px
    max-height: 420px
    object-fit: cover

  &__title
    font-family: "RobotoCondensed"
    font-size: 48px
    line-height: 56px
    color: $color-dark
    margin-bottom: 39px

  &__line
    width: 114px
    margin-bottom: 39px

  &__text
    margin-bottom: 39px
    font-family: "RobotoRegular"
    font-size: 18px
    line-height: 24px
    color: #9B9B9B
    max-width: 584px

  &__btn
    width: 200px
    margin-bottom: 80px

@media (max-width: 1440px)
  .team
    &__aside
      padding-top: 80px
      justify-content: center
      flex-wrap: nowrap

    &__holder
      margin-left: 60px

    &__image
      max-width: 395px
      max-height: 380px

    &__title
      margin-top: 21px
      font-size: 48px
      line-height: 56px
      margin-bottom: 15px

    &__line
      width: 88px
      margin-bottom: 19px

    &__text
      margin-bottom: 19px
      font-size: 18px
      line-height: 24px

  .team-img
    width: 395px
    height: 380px


@media (max-width: 1024px)
  .team
    &__aside
      padding-top: 40px
      justify-content: center
      flex-wrap: nowrap

    &__holder
      margin-left: 34px

    &__image
      max-width: 240px
      max-height: 227px

    &__title
      font-size: 36px
      line-height: 38px
      margin-top: 0
      margin-bottom: 20px

    &__line
      width: 88px
      margin-bottom: 23px

    &__text
      max-width: 418px
      margin-bottom: 24px
      font-size: 18px
      line-height: 18px

    &__btn
      margin-bottom: 48px
      margin-left: -50px

  .team-img
    width: 240px
    height: 227px

@media (max-width: 770px)
  .team
    &__aside
      align-items: center
      text-align: center
      flex-direction: column

    &__image
      max-width: 518px
      max-height: 478px

    &__holder
      align-items: center
      justify-content: center
      margin-left: 0

    &__line
      margin-bottom: 40px

    &__text
      margin-bottom: 56px

    &__btn
      margin-bottom: 53px
      margin-left: 0

  .team-img
    width: 518px
    height: 478px

@media (max-width: 640px)
  .team
    &__aside
      padding-top: 20px
      justify-content: center
      align-items: center
      text-align: center

    &__image
      max-width: 281px
      max-height: 243px
      margin-bottom: 40px

    &__title
      font-size: 24px

    &__line
      width: 45px
      margin-bottom: 23px

    &__text
      margin-bottom: 84px
      font-size: 16px
      line-height: 18px

    &__btn
      margin-bottom: 40px

  .team-img
    width: 281px
    height: 243px
