.team
  &__aside
    margin: 80px 0
    display: flex
    justify-content: space-between
    flex-wrap: wrap

  &__image
    max-width: 470px
    max-height: 430px
    object-fit: cover

  &__holder
    display: flex
    flex-direction: column

  &__title
    font-family: "RobotoCondensed"
    font-size: 48px
    line-height: 56px
    color: $color-dark
    margin-bottom: 39px

  &__line
    width: 114px
    margin-bottom: 39px

  &__text
    margin-bottom: 39px
    font-family: "RobotoRegular"
    font-size: 18px
    line-height: 24px
    color: #9B9B9B
    max-width: 584px

  &__btn
    width: 200px


@media (max-width: 320px)
  .team
    &__aside
      margin: 20px 0
      justify-content: center
      align-items: center
      text-align: center

    &__image
      max-width: 281px
      max-height: 243px
      margin-bottom: 40px

    &__holder
      align-items: center

    &__title
      font-size: 24px
      line-height: 38px
      margin-bottom: 20px

    &__line
      width: 45px
      margin-bottom: 23px

    &__text
      margin-bottom: 84px
      font-size: 16px
      line-height: 18px

    &__btn
      margin-bottom: 40px

.team-img
  width: 281px
  height: 243px