@font-face {
	font-family: "icons";
	src: url('icons.eot');
	src: url('icons.eot?#iefix') format('eot'),
		url('icons.woff2') format('woff2'),
		url('icons.woff') format('woff'),
		url('icons.ttf') format('truetype'),
		url('icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-facebook:before {
	content: "\E001";
}

.icon-google:before {
	content: "\E002";
}

.icon-mail:before {
	content: "\E003";
}

.icon-next:before {
	content: "\E004";
}

.icon-prev:before {
	content: "\E005";
}

.icon-quote-right:before {
	content: "\E006";
}

.icon-scrolling:before {
	content: "\E007";
}

.icon-twitter:before {
	content: "\E008";
}
