extends ../layouts/default.pug

block content
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci aspernatur blanditiis nisi incidunt fugit eligendi optio enim ipsam dolorem id, voluptatum eaque quaerat? Aliquid, officia. Nisi saepe dolore ipsam. Dolore.
