extends ../layouts/default.pug

block content
  include ../components/MainSlider
  include ../components/Promo
  include ../components/Services
  include ../components/Portfolio
  include ../components/Team
  include ../components/News
  include ../components/Quotes
