@import 'common/variables'
@import 'common/helpers'
@import 'common/header'
@import 'common/main-slider'
@import 'common/promo'
@import 'common/services'
@import 'common/portfolio'
@import 'common/team'
@import 'common/news'
@import 'common/quotes'
@import 'common/footer'
@import 'common/page-scroll-top'

@font-face
  font-family: "RobotoRegular"
  src: url('../fonts/RobotoRegular.woff2'), url('../fonts/RobotoRegular.woff')
  font-display: swap

@font-face
  font-family: "RobotoCondensed"
  src: url('../fonts/RobotoCondensed-Regular.woff2'), url('../fonts/RobotoCondensed-Regular.woff')
  font-display: swap

@font-face
  font-family: "Roboto-Thin"
  src: url('../fonts/Roboto-Thin.woff2'), url('../fonts/Roboto-Thin.woff')
  font-display: swap
