@import 'common/variables'
@import 'common/helpers'
@font-face
  font-family: "RobotoRegular"
  src : url("/fonts/RobotoRegular.otf")

.page
  display: flex
  flex-direction: column
  min-height: 100%

  &__content
    flex: 1

.wrapper
  max-width: 1320px
  margin: 0 auto
  padding-right: 24px
  padding-left: 24px
  box-sizing: content-box

.button
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 0 16px
  height: 50px
  text-transform: uppercase
  font-size: 18px
  font-weight: 500
  background-color: $color-white-light-1
  color: $color-blue
  border-radius: 3px
  transition: all 0.2s

  &--blue
    background-color: $color-blue
    color: $color-white-light-1

  &--fluid
    display: flex
    width: 100%

.logo
  display: block

  & img
    display: block

.header
  background-color: $color-blue

  &__menu
    margin-right: 150px

  &__flex
    display: flex
    justify-content: space-between
    align-items: center
    padding: 17px 0


.menu
  display: flex
  align-items: center

.menu__btn
  width: 40px
  height: 40px
  border-radius: 3px
  cursor: pointer
  background-color: $color-white
  display: flex
  justify-content: center
  align-items: center

.menu__btn-box
  width: 13px
  height: 14px
  display: flex
  flex-direction: column

.menu__btn-line
  width: 12px
  height: 2px
  margin-top: 2px
  display: flex
  background-color: $color-blue

.main-slider
  background-image: url('/images/intro-image.jpg')
  background-size: cover

  &__inner
    background-color: rgba(0, 0, 0, 0.5)
    position: relative
    z-index: 2

  &__button
    width: 200px
    margin: 0 auto

  &__title
    max-width: 500px
    margin: 0 auto 18px
    font-size: 96px
    line-height: 96px

  &__description
    max-width: 880px
    margin: 0 auto 28px
    font-size: 24px
    line-height: 26px

  &__item
    padding: 107px 0 213px
    text-align: center
    color: $color-white

.main-slider__arrrow
  height: 140px
  top: 0
  right: 0
  bottom: 0
  margin: auto 0
  display: block
  position: absolute
  z-index: 900

.arrow-prew
  height: 70px
  width: 70px
  display: flex
  justify-content: center
  align-items: center
  background-color: $color-blue
  border-radius: 3px
  transition: all 0.2s
  margin-bottom: 1px
  cursor: pointer

  &:hover
    background-color: $color-white

.arrow-next
  height: 70px
  width: 70px
  display: flex
  justify-content: center
  align-items: center
  background-color: $color-blue
  border-radius: 3px
  transition: all 0.2s
  margin-top: 1px
  cursor: pointer

  &:hover
    background-color: $color-white

.slick-disabled
  opacity: 0.2
  
  background-color: blue

.slick-prev
  background-color: $color-blue
  height: 70px
  width: 70px
  position: absolute
  z-index: 3
  top: -8px
  right: 0
  bottom: 0
  margin: auto 0

.slick-next
  background-color: $color-blue
  height: 70px
  width: 70px
  position: absolute
  z-index: 3
  bottom: 25%
  right: 0
  top: 25px
  margin: auto 0


.promo
  height: 192px
  display: flex
  justify-content: space-between
  background-color: $color-blue
  align-items: center

.promo__info
  display: flex
  flex-direction: column
  margin-left: 150px

.promo__info-title
  margin-bottom: 4px
  font-weight: 500
  font-size: 24px
  line-height: 32px
  font-family: "RobotoRegular"
  font-style: normal
  color: $color-white

.promo__info-text
  font-family: Dosis
  font-style: normal
  font-weight: 300
  font-size: 16px
  line-height: 18px
  font-family: "RobotoRegular"
  color: $color-white


