@import 'common/variables'

*
  box-sizing: border-box

body,
html
  height: 100%
  min-height: 100%

body
  margin: 0
  font-family: $base-font-family

ul,
ol,
li
  list-style: none
  padding: 0
  margin: 0
